### UMDOTS Escooter Data Analysis
Parse data and map coordinates to find patterns in data

### Task 1: Make sense of coordinates

#### Import Necessary Libraries

In [516]:
import pandas as pd
import os
from IPython.display import IFrame
from IPython.display import Image

#### Load Dataset

In [517]:
df = pd.read_csv("Copy of Data_Lv3_UMDOTS_Escooters.csv", index_col=0)

df.head()

df.drop('Unnamed: 0.1', axis=1) # drop extra index column

,CREATED,START,END,DISTANCE,RIDE_ID,CUSTOMER_ID,MINUTES,VEHICLE_TYPE,PATH,TIMESTAMPS,START LONG,START LAT,END LONG,END LAT
0,2020-10-03 03:32:15+00:00,2020-10-03 03:32:15+00:00,2020-10-03 03:32:46+00:00,0.008,3135665,193964,1,Scooter,"{\n ""coordinates"": [\n [\n -76.934163...","[\n ""2020-10-03T03:32:14Z"",\n ""2020-10-03T03...",-76.934163,38.990656,-76.934285,38.990739
1,2020-10-03 03:07:39+00:00,2020-10-03 03:07:39+00:00,2020-10-03 03:37:06+00:00,1.062,3135395,542947,30,Scooter,"{\n ""coordinates"": [\n [\n -76.938180...","[\n ""2020-10-03T03:07:46Z"",\n ""2020-10-03T03...",-76.938181,38.982087,-76.949165,38.992849
2,2020-10-03 03:17:05+00:00,2020-10-03 03:17:05+00:00,2020-10-03 03:24:24+00:00,0.847,3135503,517321,8,Scooter,"{\n ""coordinates"": [\n [\n -76.937599...","[\n ""2020-10-03T03:17:12Z"",\n ""2020-10-03T03...",-76.937600,38.979613,-76.933335,38.992676
3,2020-10-03 02:24:58+00:00,2020-10-03 02:24:58+00:00,2020-10-03 03:11:56+00:00,3.447,3134955,578051,47,Scooter,"{\n ""coordinates"": [\n [\n -76.943553...","[\n ""2020-10-03T02:25:04Z"",\n ""2020-10-03T02...",-76.943553,38.982470,-76.943546,38.982476
4,2020-10-03 03:19:34+00:00,2020-10-03 03:19:34+00:00,2020-10-03 03:22:45+00:00,0.386,3135529,552305,4,Scooter,"{\n ""coordinates"": [\n [\n -76.938115...","[\n ""2020-10-03T03:19:40Z"",\n ""2020-10-03T03...",-76.938116,38.982084,-76.943257,38.986101
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40320,2020-10-24 22:21:40+00:00,2020-10-24 22:21:40+00:00,2020-10-24 22:26:38+00:00,0.794,3304114,322401,5,Scooter,"{\n ""coordinates"": [\n [\n -76.943936...","[\n ""2020-10-24T22:21:46Z"",\n ""2020-10-24T22...",-76.943936,38.988110,-76.934104,38.992061
40321,2020-10-24 21:28:43+00:00,2020-10-24 21:28:43+00:00,2020-10-24 21:32:54+00:00,0.404,3303630,298095,5,Scooter,"{\n ""coordinates"": [\n [\n -76.935917...","[\n ""2020-10-24T21:28:49Z"",\n ""2020-10-24T21...",-76.935917,38.986389,-76.933818,38.992196
40322,2020-10-25 01:22:00+00:00,2020-10-25 01:22:00+00:00,2020-10-25 01:26:16+00:00,0.629,3305589,604319,5,Scooter,"{\n ""coordinates"": [\n [\n -76.940231...","[\n ""2020-10-25T01:22:07Z"",\n ""2020-10-25T01...",-76.940231,38.996377,-76.945600,38.992842
40323,2020-10-25 00:55:24+00:00,2020-10-25 00:55:24+00:00,2020-10-25 01:07:38+00:00,0.567,3305336,610943,13,Scooter,"{\n ""coordinates"": [\n [\n -76.944152...","[\n ""2020-10-25T00:55:30Z"",\n ""2020-10-25T00...",-76.944153,38.991956,-76.940216,38.987199
40324,2020-10-24 06:03:05+00:00,2020-10-24 06:03:05+00:00,2020-10-24 06:38:05+00:00,5.220,3299791,324757,35,Scooter,"{\n ""coordinates"": [\n [\n -76.934166...","[\n ""2020-10-24T06:03:12Z"",\n ""2020-10-24T06...",-76.934167,38.990645,-76.936088,38.982452

#### In order to find any meaningful patterns in our data, we have to deal with the pesky Path, Timestamps, and Geo-coordinate columns. Once we can make sense of the coordinates exploring our data wll be a walk in the park.

In [518]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40325 entries, 0 to 40324
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0.1  40325 non-null  int64
 1   CREATED       40325 non-null  object
 2   START         40325 non-null  object
 3   END           40325 non-null  object
 4   DISTANCE      38052 non-null  float64
 5   RIDE_ID       40325 non-null  int64
 6   CUSTOMER_ID   40325 non-null  int64
 7   MINUTES       40325 non-null  int64
 8   VEHICLE_TYPE  40325 non-null  object
 9   PATH          40325 non-null  object
 10  TIMESTAMPS    40325 non-null  object
 11  START LONG    40325 non-null  float64
 12  START LAT     40325 non-null  float64
 13  END LONG      40325 non-null  float64
 14  END LAT       40325 non-null  float64
dtypes: float64(5), int64(4), object(6)
memory usage: 4.9+ MB
None

#### Check for Missing Values

In [519]:
def missing_percentage(df):
    """This function takes a DataFrame(df) as input and returns two columns, total missing values and total missing values percentage"""
    total = df.isnull().sum().sort_values(ascending = False)
    percent = round(df.isnull().sum().sort_values(ascending = False)/len(df)*100,2)
    return pd.concat([total, percent], axis=1, keys=['Total','Percent'])

In [520]:
missing_percentage(df) # Only the distance column has any null values, we'll ignore them for now

              Total  Percent
DISTANCE       2273     5.64
END LAT           0     0.00
END LONG          0     0.00
START LAT         0     0.00
START LONG        0     0.00
TIMESTAMPS        0     0.00
PATH              0     0.00
VEHICLE_TYPE      0     0.00
MINUTES           0     0.00
CUSTOMER_ID       0     0.00
RIDE_ID           0     0.00
END               0     0.00
START             0     0.00
CREATED           0     0.00
Unnamed: 0.1      0     0.00

#### Plotting Coordinates on Google Maps using gmplot

In [521]:
import gmplot as gp

In [522]:
# we can create a map plot by passing longiitude and latitude coordinates
api_key = 'AIzaSyCHu-JFaRbRe3BrPTb5Fl0aQgxcqm_vlJk'

In [523]:
# The library let's us plot coordinates on Google Maps. Here we use the first 4 rides as an example

latitude_list = [ 38.982087, 38.979613, 38.982470 ] 
longitude_list = [ -76.938181, -76.937600, -76.943553 ] 
  
gmap0 = gp.GoogleMapPlotter(38.9860033, -76.9424154, 17, apikey=api_key) # Centered on Mckeldin Mall
  
# scatter method of map object  
# scatter points on the google map 
gmap0.scatter( latitude_list, longitude_list, '#FF0000', 
                              size = 40, marker = False ) 
  
# Plot method Draw a line in 
# between given coordinates 
gmap0.plot(latitude_list, longitude_list,  
           'cornflowerblue', edge_width = 2.5) 
  
gmap0.draw( "map0.html" )

#### Here we will pass in coordinates to print them on a Google Map

In [524]:
# Create list for Start and End Points

start_long = []
start_lat = []

end_long = []
end_lat = []

def get_coord(df):
    ''' This function takes a dataframe and appends its coordinates to a group of list'''
    start_long.clear()
    start_lat.clear()
    end_long.clear()
    end_lat.clear()
    
    for i in df['START LONG']:
        start_long.append(i)
    for i in df['START LAT']:
        start_lat.append(i)
    for i in df['END LONG']:
        end_long.append(i)
    for i in df['END LAT']:
        end_lat.append(i)

#### Now that we can easily retrieve coordninates, let's start plotting. We'll start with start and end locations then move on to plotting paths.

#### We'll be using heatmaps for the best representation of rider activity

In [525]:
# Plotting starting locations
get_coord(df)

latitude_list = start_lat
longitude_list = start_long
  
gmap1 = gp.GoogleMapPlotter(38.9860033, -76.9424154, 14, apikey=api_key) 
  
# scatter method of map object  
# scatter points on the google map 
gmap1.heatmap(latitude_list, longitude_list) 
  
# Plot method Draw a line in 
# between given coordinates 
# gmap3.plot(latitude_list, longitude_list,  
#            'cornflowerblue', edge_width = 2.5) 
  
gmap1.draw("map_start.html") 


IFrame(src='map_start.html', width=700, height=600)

In [526]:
# Plotting ending locations

latitude_list = end_lat
longitude_list = end_long

gmap2 = gp.GoogleMapPlotter(38.9860033, -76.9424154, 14, apikey=api_key)

# heatmap plot heating Type 
# points on the Google map 
gmap2.heatmap(latitude_list, longitude_list) 

gmap2.draw("map_end.html") 


IFrame(src='map_end.html', width=700, height=600)

#### Unsurprisingly, starting and ending activity is practically the same. Now for the real fun, we will make some more plots using the Paths column.

In [527]:
# The PATH column is needs to be parsed correctly before we can use it.
import ast #this library lets us turn the PATH column values into dictionaries

long_list = []
lat_list = []

def get_paths(df_row):
    ''' This function takes a dataframe row and populates 2 
    lists with coordinates from the PATH column'''
    
    long_list.clear()
    lat_list.clear()
    
    paths = ast.literal_eval(df_row)
    
    for i in paths['coordinates']:
        long_list.append(i[0]) # longitude
        lat_list.append(i[1]) # latitude
        

def plot_paths():
    ''' This function plots multiple paths'''
    
    for i in range(1009, 1010):
        get_paths(df['PATH'][i])
        
        longitude_list = long_list
        latitude_list = lat_list
        
        # scatter method of map object  
        # scatter points on the google map 
        gmap3.scatter(latitude_list, longitude_list, '#FF0000', 
                                      size = 5, marker = False) 

        # Plot method Draw a line in 
        # between given coordinates 
#         gmap3.plot(latitude_list, longitude_list,  
#                    'cornflowerblue', edge_width = 2.5)

gmap3 = gp.GoogleMapPlotter(38.9860033, -76.9424154, 14, apikey=api_key) 

plot_paths()
gmap3.draw("map3.html")

### Task 2: Find rides that are on/off campus

#### My best guess on how to complete this task is to create boxes representing the campus area. We'll check the start and end coordinates to see if they fall within the range of the boxes, if not, they are off-campus. We'll then create new variables to hold this information.

What I'm considering "on-campus"

![on campus](on_campus.png)

I'll admit, I am not very familiar with the UMD campus despite being a student there. This can be improved later but for now I will be using the following boxes for my range

![on campus box](on_campus_box.png)

#### Using the box coordinates, we will check if the start and end points lie within campus.

In [528]:
# Specify box vertices in dictionary
box_dict = {

"box1" : [
    [38.997855, -76.944446],
    [38.988784, -76.945308],
    [38.988902, -76.935163],
    [38.997573, -76.935394]
],


"box2" : [
    [38.989655, -76.940654],
    [38.988020,-76.940623],
    [38.988069,-76.937089],
    [38.989637,-76.936939]
],


"box3" : [
    [38.985362,-76.940824],
    [38.982266,-76.940817],
    [38.982224,-76.934465],
    [38.985391,-76.934488]
],

"box4" : [
    [38.989117,-76.945253],
    [38.985659,-76.946293],
    [38.985743,-76.939532],
    [38.989038,-76.939398]
],


"box5" : [
    [38.985486,-76.948222],
    [38.980512,-76.947963],
    [38.981663,-76.939186],
    [38.985332,-76.939058]
],

"box6" : [
    [38.995231,-76.949412],
    [38.984771,-76.949465],
    [38.984882,-76.944491],
    [38.994997,-76.945139]
],

"box7" : [
    [38.994420,-76.954731],
    [38.985122,-76.954713],
    [38.985213,-76.947827],
    [38.994306,-76.948126]
]
}

#### Define functions for checking status

In [529]:
# Use shapely to determine if coordinates lie in our boxes
from shapely.geometry import Point
from shapely.geometry.polygon import Polygon
import numpy as np


def campus_group_start(df):
    ''' This function takes a dataframe row and returns the campus status of the starting position '''
    
    y = df['START LONG']
    x = df['START LAT']
    
    status = 'Off Campus'
    
    for key in box_dict: # for each box
        lat_vect = np.array([box_dict[key][0][0], box_dict[key][1][0], box_dict[key][2][0], box_dict[key][3][0]])
        long_vect = np.array([box_dict[key][0][1], box_dict[key][1][1], box_dict[key][2][1], box_dict[key][3][1]])

        long_lat_vect = np.column_stack((long_vect, lat_vect)) # Reshape coordinates
        polygon = Polygon(long_lat_vect) # create polygon
        point = Point(y,x) # create point
        
        if polygon.contains(point) == True:
            status = 'On Campus'
            break
    return status


def campus_group_end(df):
    ''' This function takes a dataframe row and returns the campus status of the ending position '''
    
    y = df['END LONG']
    x = df['END LAT']
    
    status = 'Off Campus'
    
    for key in box_dict: # for each box
        lat_vect = np.array([box_dict[key][0][0], box_dict[key][1][0], box_dict[key][2][0], box_dict[key][3][0]])
        long_vect = np.array([box_dict[key][0][1], box_dict[key][1][1], box_dict[key][2][1], box_dict[key][3][1]])

        long_lat_vect = np.column_stack((long_vect, lat_vect)) # Reshape coordinates
        polygon = Polygon(long_lat_vect) # create polygon
        point = Point(y,x) # create point
        
        if polygon.contains(point) == True:
            status = 'On Campus'
            break
    return status

#### Now that our functions are defined, we will add a 'START STATUS' and 'END STATUS' column to our dataset

In [530]:
df['START STATUS'] = df.apply(campus_group_start, axis=1)
df['END STATUS'] = df.apply(campus_group_end, axis=1)

In [531]:
df.head()

,Unnamed: 0.1,CREATED,START,END,DISTANCE,RIDE_ID,CUSTOMER_ID,MINUTES,VEHICLE_TYPE,PATH,TIMESTAMPS,START LONG,START LAT,END LONG,END LAT,START STATUS,END STATUS
0,0,2020-10-03 03:32:15+00:00,2020-10-03 03:32:15+00:00,2020-10-03 03:32:46+00:00,0.008,3135665,193964,1,Scooter,"{\n ""coordinates"": [\n [\n -76.934163...","[\n ""2020-10-03T03:32:14Z"",\n ""2020-10-03T03...",-76.934163,38.990656,-76.934285,38.990739,Off Campus,Off Campus
1,1,2020-10-03 03:07:39+00:00,2020-10-03 03:07:39+00:00,2020-10-03 03:37:06+00:00,1.062,3135395,542947,30,Scooter,"{\n ""coordinates"": [\n [\n -76.938180...","[\n ""2020-10-03T03:07:46Z"",\n ""2020-10-03T03...",-76.938181,38.982087,-76.949165,38.992849,Off Campus,On Campus
2,2,2020-10-03 03:17:05+00:00,2020-10-03 03:17:05+00:00,2020-10-03 03:24:24+00:00,0.847,3135503,517321,8,Scooter,"{\n ""coordinates"": [\n [\n -76.937599...","[\n ""2020-10-03T03:17:12Z"",\n ""2020-10-03T03...",-76.937600,38.979613,-76.933335,38.992676,Off Campus,Off Campus
3,3,2020-10-03 02:24:58+00:00,2020-10-03 02:24:58+00:00,2020-10-03 03:11:56+00:00,3.447,3134955,578051,47,Scooter,"{\n ""coordinates"": [\n [\n -76.943553...","[\n ""2020-10-03T02:25:04Z"",\n ""2020-10-03T02...",-76.943553,38.982470,-76.943546,38.982476,On Campus,On Campus
4,4,2020-10-03 03:19:34+00:00,2020-10-03 03:19:34+00:00,2020-10-03 03:22:45+00:00,0.386,3135529,552305,4,Scooter,"{\n ""coordinates"": [\n [\n -76.938115...","[\n ""2020-10-03T03:19:40Z"",\n ""2020-10-03T03...",-76.938116,38.982084,-76.943257,38.986101,Off Campus,On Campus

### Task 3: Create datetime columns

#### The last step to improving this dataset is to turn the CREATED column entries into datetime values and make some date specific columns

In [532]:
from datetime import datetime, timezone
from pytz import timezone

In [533]:
def get_time(time):
    ''' This function takes a string and converts it to a datetime object in EST '''    
    time = time[:-6]
    
    gmt = pytz.timezone('GMT')
    eastern = pytz.timezone('US/Eastern')
    
    date = datetime.strptime(time, '%Y-%m-%d %H:%M:%S')

    # You can use this code to turn UTC to EST but it seems to be inaccurate so I'm sticking with UTC for now
#     dategmt = gmt.localize(date)
    
#     dateeastern = dategmt.astimezone(eastern)
    
    return date
    
df['DATE CREATED'] = df['CREATED'].map(get_time)

In [534]:
# don't need this column anymore
df.drop(['CREATED'], axis=1, inplace=True)
df.head()

,Unnamed: 0.1,START,END,DISTANCE,RIDE_ID,CUSTOMER_ID,MINUTES,VEHICLE_TYPE,PATH,TIMESTAMPS,START LONG,START LAT,END LONG,END LAT,START STATUS,END STATUS,DATE CREATED
0,0,2020-10-03 03:32:15+00:00,2020-10-03 03:32:46+00:00,0.008,3135665,193964,1,Scooter,"{\n ""coordinates"": [\n [\n -76.934163...","[\n ""2020-10-03T03:32:14Z"",\n ""2020-10-03T03...",-76.934163,38.990656,-76.934285,38.990739,Off Campus,Off Campus,2020-10-03 03:32:15
1,1,2020-10-03 03:07:39+00:00,2020-10-03 03:37:06+00:00,1.062,3135395,542947,30,Scooter,"{\n ""coordinates"": [\n [\n -76.938180...","[\n ""2020-10-03T03:07:46Z"",\n ""2020-10-03T03...",-76.938181,38.982087,-76.949165,38.992849,Off Campus,On Campus,2020-10-03 03:07:39
2,2,2020-10-03 03:17:05+00:00,2020-10-03 03:24:24+00:00,0.847,3135503,517321,8,Scooter,"{\n ""coordinates"": [\n [\n -76.937599...","[\n ""2020-10-03T03:17:12Z"",\n ""2020-10-03T03...",-76.937600,38.979613,-76.933335,38.992676,Off Campus,Off Campus,2020-10-03 03:17:05
3,3,2020-10-03 02:24:58+00:00,2020-10-03 03:11:56+00:00,3.447,3134955,578051,47,Scooter,"{\n ""coordinates"": [\n [\n -76.943553...","[\n ""2020-10-03T02:25:04Z"",\n ""2020-10-03T02...",-76.943553,38.982470,-76.943546,38.982476,On Campus,On Campus,2020-10-03 02:24:58
4,4,2020-10-03 03:19:34+00:00,2020-10-03 03:22:45+00:00,0.386,3135529,552305,4,Scooter,"{\n ""coordinates"": [\n [\n -76.938115...","[\n ""2020-10-03T03:19:40Z"",\n ""2020-10-03T03...",-76.938116,38.982084,-76.943257,38.986101,Off Campus,On Campus,2020-10-03 03:19:34

#### I'm going to create an hour, day of the week, and year column for more in-depth analysis

#### Weekday column

In [535]:
import calendar

def get_weekday(day):
    day_date = day
    return calendar.day_name[my_date.weekday()]

df['WEEKDAY'] = df['DATE CREATED'].map(get_weekday)

In [536]:
df.head()

,Unnamed: 0.1,START,END,DISTANCE,RIDE_ID,CUSTOMER_ID,MINUTES,VEHICLE_TYPE,PATH,TIMESTAMPS,START LONG,START LAT,END LONG,END LAT,START STATUS,END STATUS,DATE CREATED,WEEKDAY
0,0,2020-10-03 03:32:15+00:00,2020-10-03 03:32:46+00:00,0.008,3135665,193964,1,Scooter,"{\n ""coordinates"": [\n [\n -76.934163...","[\n ""2020-10-03T03:32:14Z"",\n ""2020-10-03T03...",-76.934163,38.990656,-76.934285,38.990739,Off Campus,Off Campus,2020-10-03 03:32:15,Saturday
1,1,2020-10-03 03:07:39+00:00,2020-10-03 03:37:06+00:00,1.062,3135395,542947,30,Scooter,"{\n ""coordinates"": [\n [\n -76.938180...","[\n ""2020-10-03T03:07:46Z"",\n ""2020-10-03T03...",-76.938181,38.982087,-76.949165,38.992849,Off Campus,On Campus,2020-10-03 03:07:39,Saturday
2,2,2020-10-03 03:17:05+00:00,2020-10-03 03:24:24+00:00,0.847,3135503,517321,8,Scooter,"{\n ""coordinates"": [\n [\n -76.937599...","[\n ""2020-10-03T03:17:12Z"",\n ""2020-10-03T03...",-76.937600,38.979613,-76.933335,38.992676,Off Campus,Off Campus,2020-10-03 03:17:05,Saturday
3,3,2020-10-03 02:24:58+00:00,2020-10-03 03:11:56+00:00,3.447,3134955,578051,47,Scooter,"{\n ""coordinates"": [\n [\n -76.943553...","[\n ""2020-10-03T02:25:04Z"",\n ""2020-10-03T02...",-76.943553,38.982470,-76.943546,38.982476,On Campus,On Campus,2020-10-03 02:24:58,Saturday
4,4,2020-10-03 03:19:34+00:00,2020-10-03 03:22:45+00:00,0.386,3135529,552305,4,Scooter,"{\n ""coordinates"": [\n [\n -76.938115...","[\n ""2020-10-03T03:19:40Z"",\n ""2020-10-03T03...",-76.938116,38.982084,-76.943257,38.986101,Off Campus,On Campus,2020-10-03 03:19:34,Saturday

#### Surprisingly, every entry in this dataset is on a Saturday. We'll drop this column since it's not as useful as I expected.

In [537]:
print(df['WEEKDAY'].unique())
df.drop(['WEEKDAY'], axis=1, inplace=True)

['Saturday']

In [538]:
df.head()

,Unnamed: 0.1,START,END,DISTANCE,RIDE_ID,CUSTOMER_ID,MINUTES,VEHICLE_TYPE,PATH,TIMESTAMPS,START LONG,START LAT,END LONG,END LAT,START STATUS,END STATUS,DATE CREATED
0,0,2020-10-03 03:32:15+00:00,2020-10-03 03:32:46+00:00,0.008,3135665,193964,1,Scooter,"{\n ""coordinates"": [\n [\n -76.934163...","[\n ""2020-10-03T03:32:14Z"",\n ""2020-10-03T03...",-76.934163,38.990656,-76.934285,38.990739,Off Campus,Off Campus,2020-10-03 03:32:15
1,1,2020-10-03 03:07:39+00:00,2020-10-03 03:37:06+00:00,1.062,3135395,542947,30,Scooter,"{\n ""coordinates"": [\n [\n -76.938180...","[\n ""2020-10-03T03:07:46Z"",\n ""2020-10-03T03...",-76.938181,38.982087,-76.949165,38.992849,Off Campus,On Campus,2020-10-03 03:07:39
2,2,2020-10-03 03:17:05+00:00,2020-10-03 03:24:24+00:00,0.847,3135503,517321,8,Scooter,"{\n ""coordinates"": [\n [\n -76.937599...","[\n ""2020-10-03T03:17:12Z"",\n ""2020-10-03T03...",-76.937600,38.979613,-76.933335,38.992676,Off Campus,Off Campus,2020-10-03 03:17:05
3,3,2020-10-03 02:24:58+00:00,2020-10-03 03:11:56+00:00,3.447,3134955,578051,47,Scooter,"{\n ""coordinates"": [\n [\n -76.943553...","[\n ""2020-10-03T02:25:04Z"",\n ""2020-10-03T02...",-76.943553,38.982470,-76.943546,38.982476,On Campus,On Campus,2020-10-03 02:24:58
4,4,2020-10-03 03:19:34+00:00,2020-10-03 03:22:45+00:00,0.386,3135529,552305,4,Scooter,"{\n ""coordinates"": [\n [\n -76.938115...","[\n ""2020-10-03T03:19:40Z"",\n ""2020-10-03T03...",-76.938116,38.982084,-76.943257,38.986101,Off Campus,On Campus,2020-10-03 03:19:34

#### Hour and Year Column

In [539]:
def get_hour(day):
    hour = day.hour
    return hour

def get_year(day):
    year = day.year
    return year

In [541]:
df['HOUR'] = df['DATE CREATED'].map(get_hour)
df['YEAR'] = df['DATE CREATED'].map(get_year)

In [542]:
df.head()

,Unnamed: 0.1,START,END,DISTANCE,RIDE_ID,CUSTOMER_ID,MINUTES,VEHICLE_TYPE,PATH,TIMESTAMPS,START LONG,START LAT,END LONG,END LAT,START STATUS,END STATUS,DATE CREATED,HOUR,YEAR
0,0,2020-10-03 03:32:15+00:00,2020-10-03 03:32:46+00:00,0.008,3135665,193964,1,Scooter,"{\n ""coordinates"": [\n [\n -76.934163...","[\n ""2020-10-03T03:32:14Z"",\n ""2020-10-03T03...",-76.934163,38.990656,-76.934285,38.990739,Off Campus,Off Campus,2020-10-03 03:32:15,3,2020
1,1,2020-10-03 03:07:39+00:00,2020-10-03 03:37:06+00:00,1.062,3135395,542947,30,Scooter,"{\n ""coordinates"": [\n [\n -76.938180...","[\n ""2020-10-03T03:07:46Z"",\n ""2020-10-03T03...",-76.938181,38.982087,-76.949165,38.992849,Off Campus,On Campus,2020-10-03 03:07:39,3,2020
2,2,2020-10-03 03:17:05+00:00,2020-10-03 03:24:24+00:00,0.847,3135503,517321,8,Scooter,"{\n ""coordinates"": [\n [\n -76.937599...","[\n ""2020-10-03T03:17:12Z"",\n ""2020-10-03T03...",-76.937600,38.979613,-76.933335,38.992676,Off Campus,Off Campus,2020-10-03 03:17:05,3,2020
3,3,2020-10-03 02:24:58+00:00,2020-10-03 03:11:56+00:00,3.447,3134955,578051,47,Scooter,"{\n ""coordinates"": [\n [\n -76.943553...","[\n ""2020-10-03T02:25:04Z"",\n ""2020-10-03T02...",-76.943553,38.982470,-76.943546,38.982476,On Campus,On Campus,2020-10-03 02:24:58,2,2020
4,4,2020-10-03 03:19:34+00:00,2020-10-03 03:22:45+00:00,0.386,3135529,552305,4,Scooter,"{\n ""coordinates"": [\n [\n -76.938115...","[\n ""2020-10-03T03:19:40Z"",\n ""2020-10-03T03...",-76.938116,38.982084,-76.943257,38.986101,Off Campus,On Campus,2020-10-03 03:19:34,3,2020